* {
    overflow: hidden;
}

.dark {
    color: white;
}

.light {
    color: #242424
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgb(19, 19, 19);
    max-width: 600px;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.pfp{
    border-radius: 50%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
    padding: 3px;
    border-radius: 5px;
}

a:hover{
    background-color: orange;
    color: black;
    transition: 0.2s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-inline: 0;
}

.name {
    margin: 0;
}

.dark-button {
    cursor: pointer;
}

li {
    margin: 3px
}
